.button {
  padding: 0.7rem;

  font-weight: bold;

  background-color: transparent;
  color: var(--text-primary);
  border: none;
  border-radius: var(--border-radius);

  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    outline: none;
    border: none;
  }

  &--active {
    background-color: var(--button-hover);
  }
}
