.page-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr min(100% - 2rem, 60%) 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr min(100% - 2rem, 70%) 1fr;
  }

  &__hero {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -200;
  }

  &__content {
    overflow: hidden;
    display: grid;
    margin: 9rem auto;
    width: min(100%, 1100px);
    padding: 5rem 2.5rem;
    gap: 1rem;
    grid-column: 2 / 3;

    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 6px var(--background-secondary);
  }

  &__text-content {
    position: relative;
    z-index: 100;

    display: grid;
    gap: 1rem;
    width: min(100% - 1rem, 500px);
    margin-inline: auto;
    text-align: center;
  }

  &__title {
    position: relative;
    margin-block: 0;
  }

  &__spiral-image {
    position: absolute;
    top: -250%;
    left: 52%;
    z-index: -50;
  }

  &__paragraph {
    margin-block: 0;
    color: var(--text-secondary);
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  // Estilos para pantallas medianas (tablets)
  @media (min-width: 768px) {
  }

  // Estilos para pantallas grandes (desktops)
  @media (min-width: 1024px) {
    // background-color: yellow;
  }
}
