.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 0.8rem;

  background-color: var(--color-todo);
  border-radius: var(--border-radius);

  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__details {
    display: grid;
    gap: 0.5rem;
  }

  &__title,
  &__description {
    margin-block: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: var(--font-task-title-size);
    font-weight: var(--font-weight-semibold);
  }

  &__description {
    font-size: var(--font-description-size);
    font-weight: var(--font-weight-light);
  }

  &__icon,
  &__status-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    padding: 0.5rem;

    border-radius: var(--border-radius);
  }

  &__icon {
    background-color: var(--color-background);
  }

  &__status-icon {
    background-color: var(--color-blocked);

    &--done {
      background-color: var(--color-done);
    }

    &--progress {
      background-color: var(--color-progress);
    }

    &--blocked {
      background-color: var(--color-blocked);
    }
  }

  &--done {
    background-color: var(--color-done-light);
  }

  &--progress {
    background-color: var(--color-progress-light);
  }

  &--blocked {
    background-color: var(--color-blocked-light);
  }
}
